.hud-searchbox{
	font-size: 130%;
}
.hud-entry-shortcut{
	padding: 2px;
	font-family: "monospace";
	font-size: 75%;
	color: #CCC;
	background-color: #666;
}
.hud-entry-name{
	font-size: 110%;
	font-weight: bold;
}
.hud-entry-fullname{
	opacity: 0.5;
}
.hud-settings-bgdarker{
	background-color: darker (rgba(0,0,0,0.1));
}
.hud-settings-nobg{
	background-color: rgba(0,0,0,0);
}


GtkEntry.invalid{
	box-shadow: 0 0 0 1px #F70;
}